// Кнопку создавать не надо, ее потом отдельно сбросит Юлия, ее надо будет вставить 2 раза (сначала без модального окна, а потом с ним)
// Размещать кнопку на странице с помощью scss (margin и прочеее) будете сами, у нее будет только дизайн

// Сетку задаем с помощью отрицательных margin

.about__subtitle {
  @media screen and (min-width: $tablet) {
    line-height: 1.15;

    margin-bottom: 16px;
  }

  @media screen and (min-width: $desktop) {
    line-height: 1.13;

    margin-bottom: 15px;
  }
}

.about__title {
  margin-bottom: 26px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 50px;
  }

  @media screen and (min-width: $desktop) {
    line-height: 1.13;

    margin-bottom: 55px;
  }
}

.about__content {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.about__img {
  display: block;
  margin: 0 auto 46px;
  max-width: 280px;

  &--size {
    max-width: none;
  }

  @media screen and (min-width: $tablet) {
    margin: 0 17px 0 0;
    max-width: 340px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 74px;
    max-width: 516px;
  }
}

.about-right-column {
  padding: 0 30px;

  @media screen and (min-width: $tablet) {
    padding: 0;
  }
}

.about__text {
  position: relative;
  z-index: 2;
  list-style: none;

  padding: 0;
  margin: 0 0 20px 0;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;

  color: $text-black-secondary;

  @media screen and (min-width: $tablet) {
    width: 340px;

    padding: 50px 0 0 0;
    margin: 0 0 62px 0;

    font-size: 14px;
    line-height: calc(25 / 14);
  }

  @media screen and (min-width: $desktop) {
    width: 463px;

    padding: 51px 0 0 0;
    margin: 0 0 45px 0;

    font-size: 16px;
    line-height: calc(28 / 16);
    letter-spacing: 0.04em;
  }
}

.about__item {
  @media screen and (min-width: $tablet) {
    &--desktop {
      font-size: 14px;
      line-height: calc(27 / 14);
      letter-spacing: 0.04em;
    }
  }

  &:first-child {
    color: $text-black;
    margin-bottom: 17px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 27px;
    }
  }

  &:nth-child(2n) {
    margin-bottom: 17px;

    @media screen and (min-width: $tablet) {
      letter-spacing: 0.04em;

      margin-bottom: 27px;
    }
  }
}

.bcg {
  position: relative;
}

.bcg-img {
  position: absolute;
  z-index: 1;
  top: -228px;
  left: 50%;
  transform: translateX(-50%);

  background-image: url(../images/mob/about/mob-about-backgroundimg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  width: 100%;
  max-width: 2560px;
  height: 200px;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/mob/about/mob-about-backgroundimg-2x.png);
  }

  @media screen and (min-width: 480px) {
    top: -291px;
    height: 319px;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    display: block;
    top: -735px;

    background-image: url(../images/desktop/about/desktop-about-backgroundimg.png);

    height: 1068px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/desktop/about/desktop-about-backgroundimg-2x.png);
    }

    @media screen and (min-width: 1900px) {
      top: -805px;
    }
  }
}
