// Кнопку создавать не надо, ее потом отдельно сбросит Юлия, ее надо будет вставить 2 раза (сначала без модального окна, а потом с ним)
// Размещать кнопку на странице с помощью scss (margin и прочеее) будете сами, у нее будет только дизайн

// Сетку задаем с помощью отрицательных margin

.about {
    background-color: $sections-background;
}

.about__label {
    font-family: Titan One;
    font-size: 18px;
    line-height: calc(21 / 18);

    text-align: center;
    text-transform: uppercase;

    color: $accent-color-secondary;

    margin-bottom: 15px;
}

.about__title {
    font-family: Titan One;
    font-size: 34px;
    line-height: calc(39 / 34);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: $accent-color;

    margin-bottom: 26px;
}

.about__img {
    display: block;
    margin: 0 auto 46px;
    max-width: 280px;
}

img {
    @media screen and (max-width: 767px) {
        margin: 0 auto;
    }
}

.about__text {
    list-style: none;

    padding: 0 30px;
    margin: 0;

    font-weight: 500;
    font-size: 12px;
    // line-height: calc(19 / 12);
    line-height: 162%;

    color: $text-black-secondary;

    
}

.about__text--color {
    color: $text-black;
    margin-bottom: 47px;
}

.about__text--last-p {
    margin-top: 20px;
}

.about--background-img {
    @media screen and (max-width: $mobile) {
        background-image: url(../../../../HW/icecream/src/images/mob/about/mob-about-backgroundimg.png);
        background-repeat: no-repeat;
        background-size: cover;

        width: 100vw;
        height: 133px;
        
        margin-top: -133px;
        margin-left: -20px;
        margin-right: -20px;

        @media screen and (min-width: 393px) {
            height: 165px;
        }

        @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
            background-image: url(../../../../HW/icecream/src/images/mob/about/mob-about-backgroundimg-2x.png);
        }
    }
    @media screen and (min-width: 481px) {
        display: none;
    }
}