.advantages-section {
    background-color: $sections-background;
}

.advantages-list {
    display: flex;
    flex-direction: column;
}

.advantages-item-title {
    color: $accent-color;
    font-family: 'Titan One', cursive;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-top: 104px;
    margin-bottom: 20px;
    position: relative;
}

.advantages-logo-milk {
    position: relative;
    &::before {
        position: absolute;
        content: "";
        display: block;
        background-image: url(../images/common/advantages/desktop-about-icon1.png);
        width: 33px;
        height: 50px;
        top:-71px; 
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/common/advantages/desktop-about-icon1-2x.png); 
        background-size: contain;
        width: 33px;
        height: 50px;
    }
    }
}

.advantages-logo-fruit {
    position: relative;
    &::before {
        position: absolute;
        content: "";
        display: block;
        background-image: url(../images/common/advantages/desktop-about-icon2.png);
        width: 50px;
        height: 50px;
        top:-71px;
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/common/advantages/desktop-about-icon2-2x.png); 
        background-size: contain;
        width: 50px;
        height: 50px;
    }  
    }
}

.advantages-logo-sweet {
    position: relative;
    &::before {
        position: absolute;
        content: "";
        display: block;
        background-image: url(../images/common/advantages/desktop-about-icon3.png);
        width: 44px;
        height: 50px;
        top:-71px;
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/common/advantages/desktop-about-icon3-2x.png); 
        background-size: contain;
        width: 44px;
        height: 50px;
    }    
    }
}

.advantages-item-text {
    color: $text-black;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.6;
    @media screen and (max-width: $mobile) {
        max-width: 230px;
    }
}