.advantages-section {
  background-color: $sections-background;
}

.advantages {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 767px) {
    padding: 0 30px;
  }
  @media screen and (min-width: $tablet) {
    flex-direction: row;
    margin-left: -60px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: -30px;
  }
}

.advantages__item {
  @media screen and (min-width: $tablet) {
    flex-basis: calc(100% / 3 - 60px);
    margin-left: 60px;
    //   patting-top: 86px;
  }
  @media screen and (min-width: $desktop) {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
  // padding-top: 103px;
  &:not(:last-child) {
    margin-bottom: 100px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
    }
  }
}

.advantages__title {
  color: $accent-color;
  font-family: 'Titan One', cursive;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  @media screen and (max-width: $tablet) {
    text-transform: uppercase;
  }
  // margin-top: 103px;
  margin-bottom: 20px;
  position: relative;
  @media screen and (min-width: $tablet) {
    font-size: 48px;
    line-height: 1.14;
    //   margin-top: 86px;
    margin-bottom: 15px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 58px;
    line-height: 1.13;
    //   margin-top: 90px;
  }
  &::before {
    position: absolute;
    content: '';
    display: block;
    background-image: url(../images/common/advantages/desktop-about-icon1.png);
    width: 33px;
    height: 50px;
    top: -71px;
    @media screen and (min-width: $tablet) {
      top: -92px;
    }
    @media screen and (min-width: $desktop) {
      top: -105px;
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/common/advantages/desktop-about-icon1-2x.png);
      background-size: contain;
      width: 33px;
      height: 50px;
    }
  }
}

.advantages__logo-fruit {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    display: block;
    background-image: url(../images/common/advantages/desktop-about-icon2.png);
    width: 50px;
    height: 50px;
    top: -71px;
    @media screen and (min-width: $tablet) {
      top: -92px;
    }
    @media screen and (min-width: $desktop) {
      top: -105px;
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/common/advantages/desktop-about-icon2-2x.png);
      background-size: contain;
      width: 50px;
      height: 50px;
    }
  }
}

.advantages__logo-sweet {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    display: block;
    background-image: url(../images/common/advantages/desktop-about-icon3.png);
    width: 44px;
    height: 50px;
    top: -71px;
    @media screen and (min-width: $tablet) {
      top: -92px;
    }
    @media screen and (min-width: $desktop) {
      top: -105px;
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/common/advantages/desktop-about-icon3-2x.png);
      background-size: contain;
      width: 44px;
      height: 50px;
    }
  }
}

.advantages__text {
  color: $text-black;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.66;
  max-width: 230px;
  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.71;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.75;
  }
}
