// Кнопки создавать не надо, их потом отдельно сбросит Юлия, их надо будет вставить 2 раза (сначала без модального окна, а потом с ним)
// Размещать кнопки на странице с помощью scss (margin и прочеее) будете сами, у них будет только дизайн

// Сетку задаем с помощью отрицательных margin

.background-contact {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.01) 6%, rgba(255, 245, 246, 1) 6%);
  @media screen and (min-width: $tablet) {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.01) 25%, rgba(255, 245, 246, 1) 25%);
  }
  @media screen and (min-width: $desktop) {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/desktop/contacts/desktop-contacts-backgroundimg@2x.png),
      linear-gradient(180deg, rgba(255, 255, 255, 0.01) 25%, rgba(255, 245, 246, 1) 25%);
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.card {
  flex-wrap: wrap;
  margin-top: calc(-1 * 20px);
  margin-left: calc(-1 * 20px);
  display: flex;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    justify-content: center;
  }

  @media screen and (min-width: $desktop) {
    margin-top: calc(-1 * 30px);
    margin-left: calc(-1 * 30px);
  }
}

.card-page {
  margin-top: 20px;
  margin-left: 20px;
  width: 220px;
  background-color: rgba(255, 255, 255, 1);
  padding: 43px 20px;
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);

  @media screen and (min-width: $tablet) {
    padding: 50px 31px;
    flex-basis: calc(100% / 3 - 20px);
  }

  @media screen and (min-width: $desktop) {
    width: 330px;
    padding: 51px 44px;
    margin-top: 0;
    margin-left: 30px;
    flex-basis: calc(100% / 3 - 30px);
  }
}

.page-part:not(:last-child)::after {
  content: '';
  display: inline-block;
  margin-bottom: 25px;
  width: 100%;
  height: 1px;
  background-color: rgba(33, 33, 33, 0.2);

  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 32px;
  }
}

.category {
  background-color: #f0d1a5;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  width: 80px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  letter-spacing: 0.04em;

  margin-bottom: 25px;

  @media screen and (min-width: $tablet) {
    width: 73px;
    font-size: 16px;
    line-height: 1.86;
  }
  @media screen and (min-width: $desktop) {
  }

  &-foodtruck {
    background-color: #c2e297;
    width: 130px;

    @media screen and (min-width: $tablet) {
      width: 138px;
    }
  }
}

.city {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  margin-bottom: 10px;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }

  &-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: #907e82;
    margin-bottom: 25px;

    @media screen and (min-width: $tablet) {
      font-size: 14px;
      margin-bottom: 30px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 16px;
      line-height: 1.83;
      margin-bottom: 32px;
    }
  }
}

.working {
  margin-bottom: 25px;

  &-days {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;

    @media screen and (min-width: $tablet) {
      font-size: 14px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 16px;
    }
  }

  &-tyme {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    color: #ffa5ba;

    @media screen and (min-width: $tablet) {
      font-size: 14px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 16px;
    }
  }
}

.connection .link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.83;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}
