// Кнопки создавать не надо, их потом отдельно сбросит Юлия, их надо будет вставить 2 раза (сначала без модального окна, а потом с ним)
// Размещать кнопки на странице с помощью scss (margin и прочеее) будете сами, у них будет только дизайн
