// Кнопки создавать не надо, их потом отдельно сбросит Юлия, их надо будет вставить 2 раза (сначала без модального окна, а потом с ним)
// Размещать кнопки на странице с помощью scss (margin и прочеее) будете сами, у них будет только дизайн
.hero {
  position: relative;

  padding-top: 137px;
  padding-bottom: 160px;

  background-color: $hero-background;
  background-image: url(../images/common/ellipse.svg);
  background-position: left 36px top 27px;
  background-size: 344px 344px;
  background-repeat: no-repeat;
  z-index: 1;

  @media screen and (min-width: $tablet) {
    padding-top: 102px;
    padding-bottom: 59px;
    background-size: 324px 324px;
    background-position: left 307px top 31px;
  }
}
// .hero-ellipse {
//   position: absolute;
//   width: 346px;

//   top: 27px;
//   left: 36px;
//   z-index: 1;
//   // margin-right: -62px;

//   // overflow: hidden;

//   @media screen and (min-width: $tablet) {
//     top: -32px;
//     left: 137px;

//     width: 324px;
//     // height: 324px;
//   }
// }

.hero-title {
  position: relative;

  font-family: Titan One;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;

  max-width: 218px;
  color: $white-color;
  text-transform: uppercase;
  margin-bottom: 19px;

  z-index: 3;

  @media screen and (min-width: $tablet) {
    font-size: 22px;
    max-width: 162px;
    margin-bottom: 20px;
  }
}

.hero-title-accent {
  color: $accent-color;
  font-size: 48px;
  line-height: 96.5%;
  @media screen and (min-width: $tablet) {
    font-size: 34px;
  }
}
.hero-img-icecrem {
  position: absolute;
  bottom: 0;
  right: 32px;
  z-index: 2;
  @media screen and (min-width: $tablet) {
    right: 203px;
    width: 143px;
    height: 336px;
  }
}

.hero-btn-wrapper {
  display: flex;
  margin-bottom: 66px;
}
.hero-title-number-wrapper {
  display: flex;
  justify-content: space-between;
}
.hero-numbers-wrapper {
  position: relative;
  z-index: 3;
  text-align: right;
  @media screen and (max-width: $tablet) {
    display: none;
  }
}

.hero-number {
  font-family: Titan One;
  font-size: 28px;
  line-height: 1.145;

  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $accent-color;
}
.hero-number::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $white-color;

  position: absolute;
  transform: translate(-50%, -25%);
  z-index: -1;
}

.hero-number-text {
  font-size: 8px;
  line-height: 1.25;
  text-align: right;

  color: $white-color;
  margin-bottom: 14px;
}

.hero-txt {
  // position: relative;
  margin-left: 120px;
  font-size: 8px;
  line-height: 1.5;
  color: $white-color;
  max-width: 114px;
  bottom: 59px;

  z-index: 3;
  @media screen and (max-width: $tablet) {
    display: none;
  }
}

.hero-img-milk {
  position: absolute;
  bottom: 10px;
  left: 32px;
  z-index: 1;
  @media screen and (max-width: $tablet) {
    display: none;
  }
}

.hero-img-girl {
  position: absolute;
  bottom: 1px;
  right: 34px;
  z-index: 2;
  @media screen and (max-width: $tablet) {
    display: none;
  }
}
