/* homemade ice cream made */

/*position: absolute;
width: 472px;
height: 34px;
left: 114px;
top: 4923px;

font-family: Titan One;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 34px;
letter-spacing: 0.04em;
text-transform: uppercase;

color: #ffa5ba;

 with passion 

position: absolute;
width: 474px;
height: 66px;
left: 114px;
top: 4972px;

font-family: Titan One;
font-style: normal;
font-weight: normal;
font-size: 58px;
line-height: 66px;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #d41443;*/
