.page-footer {
  padding-bottom: 25px;
  position: relative;
  background-color: $sections-background;
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 89px;
    width: 100%;
    height: 1px;
    background-color: $review-pseudo-elements;
    @media screen and (min-width: $tablet) {
      bottom: 93px;
    }
    @media screen and (min-width: $desktop) {
      bottom: 60px;
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $tablet) {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
  }
  &__item--top {
    /* homemade ice cream made */
    max-width: 232px;
    font-family: Titan One;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    color: $accent-color-secondary;
    margin-bottom: 17px;
    @media screen and (min-width: $tablet) {
      font-size: 24px;
      line-height: 1.1;
      letter-spacing: 0.04em;
      max-width: 340px;
      margin-bottom: 16px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 30px;

      max-width: 472px;
      margin-bottom: 15px;
    }
  }
  &__item--bottom {
    /* with passion */
    max-width: 200px;
    font-family: Titan One;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $accent-color;
    margin-bottom: 43px;
    @media screen and (min-width: $tablet) {
      font-size: 48px;
      line-height: 1.1;
      letter-spacing: 0.06em;
      max-width: 340px;
      margin-bottom: 120px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 58px;
      max-width: 477px;
      margin-bottom: 106px;
    }
  }
  &__icons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 46px;
  }

  &__icons-item:not(:last-child) {
    margin-right: 28px;
    @media screen and (min-width: $tablet) {
      margin-right: 30px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 25px;
    }
  }

  &__icon-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $icon-hover-color;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: $accent-color;
    }
    @media screen and (min-width: $tablet) {
      width: 34px;
      height: 34px;
    }
  }

  &__icon {
    fill: $white-color;
  }

  /* Feel free to contact +61 (0) 383 766 284 */
  &__item-tel {
    margin-bottom: 65px;
  }
  &__tel {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.8;
    text-align: right;
    color: $text-black;
    @media screen and (min-width: $tablet) {
      font-size: 14px;
      line-height: 1.9;
      letter-spacing: 0.01em;
    }
    @media screen and (min-width: $desktop) {
      font-size: 16px;
      line-height: 1.9;
      letter-spacing: 0.02em;
    }
  }
  &__tel-link {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.9;
    color: $accent-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color-secondary;
    }

    @media screen and (min-width: $tablet) {
      font-size: 14px;
    }
    @media screen and (min-width: $desktop) {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.9;
      letter-spacing: 0.02em;
    }
  }

  &__item-copyright {
    align-items: center;
  }

  /* © 2019 - IceCream. All Rights Reserved. */
  &__copyright {
    max-width: 150px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: $text-black-secondary;
    margin: 0 8px;
    @media screen and (min-width: $tablet) {
      max-width: 276px;
      margin: 0;
      line-height: 1.9;
      letter-spacing: 0.02em;
    }
  }
}
