<section class="section section--no-padding-top">
  <div class="container">
    <h2 class="hidden">Advantages</h2> 
    <ul class="advantages-list list">
      <li class="advantages-item">
       <h3 class="advantages-item-title section__title">721</h3>
       <p class="advantages-item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages-item">
       <h3 class="advantages-item-title section__title">16kg</h3>
       <p class="advantages-item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages-item">
       <h3 class="advantages-item-title section__title">84</h3>
       <p class="advantages-item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
