<section class="section advantages-section section--no-padding-top" id="about-anchor">
  <div class="container">
    <h2 class="hidden">Advantages</h2>
    <ul class="advantages list">
      <li class="advantages__item">
        <p class="advantages__title">721</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <p class="advantages__title advantages__logo-fruit">16kg</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <p class="advantages__title advantages__logo-sweet">84</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
