<!--Кнопка в Header "Buy now"-->

<button class="header__btn btn" type="button" data-modal-open>
  Buy now
  <svg class="header__btn-icon" width="7" height="10">
    <use href="./images/common/icons.svg#vector"></use>
  </svg>
</button>

<!--Кнопка мобильного меню "Buy now"-->

<!--Кнопки в Header -->

<!--<div class="hero-btn-wrapper">-->
<!--  <form action="#products-anchor">-->
<!--    <input class="hero-btn hero-btn3" type="submit" value="Products" />-->
<!--  </form>-->
<!--  <form action="#how-anchor">-->
<!--    <input class="hero-btn hero-btn2" type="submit" value="How it's made?" />-->
<!--  </form>-->
<!--</div>-->

<button class="hero__round-button hero__round-button-size btn" type="button"></button>

<!--Кнопки в Products -->

<button class="products__round-button products__round-button-size btn" type="button"></button>

<!-- Кнопки в Contacts -->
