<section
  class="section background-contact section--no-padding-top section--big-padding-bottom"
  id="contact-anchor"
>
  <div class="container">
    <h2 class="hidden">contacts</h2>
    <ul class="card list">
      <li class="card-page">
        <p class="category">CAFE</p>
        <div class="page-part">
          <p class="city">Chicago</p>
          <p class="city-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>

        <ul class="page-part working list">
          <li class="working-time--margin">
            <p class="working-days">Monday - Friday</p>
            <p class="working-time">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="working-days">Saturday - Sunday</p>
            <p class="working-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="page-part connection list">
          <li><a href="tel:+61(0)383766284" class="link">+61(0) 383 766 284</a></li>
          <li><a href="mailto:noreply@envato.com" class="link">noreply@envato.com</a></li>
        </ul>
      </li>

      <li class="card-page">
        <p class="category category-foodtruck">FOODTRUCK</p>
        <div class="page-part">
          <p class="city">Los Angeles</p>
          <p class="city-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>

        <ul class="page-part working list">
          <li class="working-time--margin">
            <p class="working-days">Monday - Friday</p>
            <p class="working-time">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="working-days">Saturday - Sunday</p>
            <p class="working-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="page-part connection list">
          <li><a href="tel:+61(0)383766284" class="link">+61(0) 383 766 284</a></li>
          <li><a href="mailto:noreply@envato.com" class="link">noreply@envato.com</a></li>
        </ul>
      </li>

      <li class="card-page">
        <p class="category">CAFE</p>
        <div class="page-part">
          <p class="city">New York</p>
          <p class="city-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>

        <ul class="page-part working list">
          <li class="working-time--margin">
            <p class="working-days">Monday - Friday</p>
            <p class="working-time">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="working-days">Saturday - Sunday</p>
            <p class="working-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="page-part connection list">
          <li><a href="tel:+61(0)383766284" class="link">+61(0) 383 766 284</a></li>
          <li><a href="mailto:noreply@envato.com" class="link">noreply@envato.com</a></li>
        </ul>
      </li>
    </ul>

    <div class="contacts__buttons">
      <button
        class="contacts__btn contacts__btn-locations btn"
        type="button"
        data-modal-locations-open
      >
        Our Locations
        <svg class="modal-btn-icon" width="7" height="10">
          <use href="./images/common/icons.svg#vector-white"></use>
        </svg>
      </button>

      <button
        class="contacts__btn contacts__btn-franchise btn"
        type="button"
        data-modal-franchise-open
      >
        Franchise
        <svg class="modal-btn-icon" width="7" height="10">
          <use href="./images/common/icons.svg#vector"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
