<section class="gallery-section">
  <div class="container">
    <div class="masonry">
      <div class="masonry-item__1"><img src="./images/gallery/Мороженое-1.jpg" alt="Вкусное мороженое"></div>
      <div class="masonry-item__2"><img src="./images/gallery/Мороженое-2.jpg" alt="Сделано с любовью"></div>
      <div class="masonry-item__3"><img src="./images/gallery/Мороженое-3.jpg" alt="Сладкие рожки"></div>
      <div class="masonry-item__4"><img src="./images/gallery/Мороженое-4.jpg" alt="Асорти из мороженого"></div>
      <div class="masonry-item__5"><img src="./images/gallery/Мороженое-5.jpg" alt="Тройное удовольствие"></div>
      <div class="masonry-item__6"><img src="./images/gallery/Мороженое-6.jpg" alt="Шаурма из мороженого"></div>
      <div class="masonry-item__7"><img src="./images/gallery/Мороженое-7.jpg" alt="Пальчики оближешь"></div>
      <div class="masonry-item__8"><img src="./images/gallery/Мороженое-8.jpg" alt="Сладкий дует"></div>
      <div class="masonry-item__9"><img src="./images/gallery/Мороженое-9.jpg" alt="Выбери вкусняшку"></div>
    </div>
  </div>
</section>
  <!-- <picture>
    <source srcset="./images/desktop/gallery/desktop-gallery.png 1x, ./images/desktop/gallery/desktop-gallery-2x.png 2x"
      media="(min-width: 1280)">
    <source srcset="./images/tab/gallery/tab-gallery.png 1x, ./images/tab/gallery/tab-gallery-2x.png 2x"
      media="(max-width: 1279px)">
    <source srcset="./images/mob/gallery/mob-gallery.png 1x, ./images/mob/gallery/mob-gallery-2x.png 2x"
      media="(max-width: 767px)">
    <img src="./images/desktop/gallery/desktop-gallery.png" alt="Вкусное мороженое" width="1280px">
  </picture> -->

