<section class="gallery-section">
  <div class="container">
    <h2 class="hidden">Gallery</h2>
    <div class="masonry">
      <div class="masonry-item__1">
        <img src="./images/gallery/icecream-berry.jpg" alt="icecream-berry" />
      </div>
      <div class="masonry-item__2">
        <img src="./images/gallery/icecream-fantasy.jpg" alt="icecream-fantasy" />
      </div>
      <div class="masonry-item__3">
        <img src="./images/gallery/icecream-fruit.jpg" alt="icecream-fruit" />
      </div>
      <div class="masonry-item__4">
        <img src="./images/gallery/icecream-macaroon.jpg" alt="icecream-macaroon" />
      </div>
      <div class="masonry-item__5">
        <img src="./images/gallery/icecream-rainbow.jpg" alt="icecream-rainbow" />
      </div>
      <div class="masonry-item__6">
        <img src="./images/gallery/icecream-trio.jpg" alt="icecream-trio" />
      </div>
      <div class="masonry-item__7">
        <img src="./images/gallery/icecream-unicorn.jpg" alt="icecream-unicorn" />
      </div>
      <div class="masonry-item__8">
        <img src="./images/gallery/icecream-vanilla.jpg" alt="icecream-vanilla" />
      </div>
      <div class="masonry-item__9">
        <img src="./images/gallery/icecream-waffle.jpg" alt="icecream-waffle" />
      </div>
    </div>
  </div>
</section>
