<section class="gallery">
  <div class="container"></div>
  <!-- <picture>
    <source srcset="./images/desktop/gallery/desktop-gallery.png 1x, ./images/desktop/gallery/desktop-gallery-2x.png 2x"
      media="(min-width: 1280)">
    <source srcset="./images/tab/gallery/tab-gallery.png 1x, ./images/tab/gallery/tab-gallery-2x.png 2x"
      media="(max-width: 1279px)">
    <source srcset="./images/mob/gallery/mob-gallery.png 1x, ./images/mob/gallery/mob-gallery-2x.png 2x"
      media="(max-width: 767px)">
    <img src="./images/desktop/gallery/desktop-gallery.png" alt="Вкусное мороженое" width="1280px">
  </picture> -->
</section>
