<section class="section hero">
  <div class="container">
    <div class="hero-title-number-wrapper">
      <h1 class="hero-title">ice cream made with <span class="hero-title-accent">passion</span></h1>
      <div class="hero-numbers-wrapper">
        <div class="hero-number">16</div>
        <div class="hero-number-text">cafes</div>
        <div class="hero-number">23</div>
        <div class="hero-number-text">food trucks</div>
      </div>
    </div>
    <div class="hero-btn-wrapper">
      <form action="#products-anchor">
        <input class="btn hero-btn hero-btn3" type="submit" value="Products" />
      </form>
      <form action="#how-anchor">
        <input class="btn hero-btn hero-btn2 btn" type="submit" value="How it's made?" />
      </form>
    </div>

    <picture>
      <source srcset="
          ./images/mob/hero/mob-hero-icecream.png    1x,
          ./images/mob/hero/mob-hero-icecream-2x.png 2x
        " type="image/jpeg" media="(min-width: $mobile)" />
      <source srcset="
          ./images/tab/hero/tab-hero-icecream.png    1x,
          ./images/tab/hero/tab-hero-icecream-2x.png 2x
        " type="image/jpeg" media="(min-width: $tablet)" />
      <img class="hero-img-icecrem animate__animated animate__bounce" src="./images/mob/hero/mob-hero-icecream.png"
        loading="lazy" alt="Very tasty ice-cream" width="171" />
    </picture>

    <div class="ellipse"></div>

    <p class="hero-txt">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
    </p>
    <button class="btn hero__round-button hero__round-button-size hero__round-button-position" type="button"></button>

    <picture>
      <source srcset="./images/tab/hero/tab-hero-milk.png 1x, ./images/tab/hero/tab-hero-milk-2x.png 2x"
        type="image/jpeg" />
      <img class="hero-img-milk animate__animated animate__bounceInLeft" src="./images/tab/hero/tab-hero-milk.png"
        loading="lazy" alt="white milk" width="124" />
    </picture>

    <picture>
      <source srcset="./images/tab/hero/tab-hero-girl.png 1x, ./images/tab/hero/tab-hero-girl-2x.png 2x"
        type="image/jpeg" />
      <img class="hero-img-girl animate__animated animate__bounceInRight" src="./images/tab/hero/tab-hero-girl.png"
        loading="lazy" alt="cool girl" width="166" />
    </picture>
  </div>
</section>