<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../sass/main.css">

<!-- Андрій добавив -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Titan+One&display=swap" rel="stylesheet">
<!-- Андрій добавив -->

</head>
<body>
    <div class="container">
        <p> logo - header - menu</p> 
    </div>
<!-- зовсім не розібрався куди я маю писати, 
    тому зробив покішо сюди - треба розібратись як робити -->

    <div class="container hero">
    
        <h1 class="hero-title">ice cream made with <span class="hero-title-accent">passion</span></h1>
        <button class="btn btn3" type="button">Products</button>
        <button class="btn btn2" type="button">How it’s made?</button>

        <!-- зробив через picture бо сюди зручніше дописувати різні варіанти -->
        <picture> 
            <source srcset="../images/andrew/slider-pic7-1-1x.png 1x, ../images/andrew/slider-pic7-1-2x.png 2x"
                type="image/jpeg">
            <img class="hero-icecrem" src="../images/andrew/slider-pic7-1-1x.png" alt="Wery testy ice-cream" width="171">
        </picture>
    
    </div>

</body>
</html>