<!-- Всего должно быть 7 модальных окон -->

<!-- Модальное окно Header ("Buy now") -->

<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="close-modal-btn" data-modal-close>
      <svg class="close-modal-icon" width="20" height="20">
        <use href="./images/common/icons.svg#close"></use>
      </svg>
    </button>
    <button type="button" class="close-modal-btn" data-modal-close-menu>
      <svg class="close-modal-icon" width="20" height="20">
        <use href="./images/common/icons.svg#close"></use>
      </svg>
    </button>
    <p class="modal-title">Leave your details, we will call you back</p>
    <form action="#" class="modal-form">
      <div class="modal-field">
        <span class="input-wrapper">
          <input type="checkbox" name="ice" id="ice" value="ice cream" class="" />
          <label for="ice" class="check-products check-color-pink">ice cream</label>
        </span>
      </div>

      <div class="modal-field">
        <span class="input-wrapper">
          <input type="checkbox" name="ice" id="ice-coffee" value="ice coffee" class="" />
          <label for="ice-coffee" class="check-products check-color-yellow">ice coffee</label>
        </span>
      </div>

      <div class="modal-field">
        <span class="input-wrapper">
          <input type="checkbox" name="ice" id="milkshakes" value="milkshakes" class="" />
          <label for="milkshakes" class="check-products check-color-green">milkshakes</label>
        </span>
      </div>

      <div class="modal-field">
        <label for="name" class="input-label">Name</label>
        <span class="input-wrapper">
          <input type="text" name="user-name" id="name" class="modal-input" />
          <svg class="input-icon" width="18" height="18">
            <use href="./images/common/icons.svg#name"></use>
          </svg>
        </span>
      </div>

      <div class="modal-field">
        <label for="tel" class="input-label">Phone number</label>
        <span class="input-wrapper">
          <input type="tel" name="user-tel" id="tel" class="modal-input" />
          <svg class="input-icon" width="18" height="18">
            <use href="./images/common/icons.svg#tel"></use>
          </svg>
        </span>
      </div>

      <div class="modal-field">
        <label for="comment" class="input-label">Сomment</label>
        <textarea
          name="user-comment"
          id="comment"
          class="modal-comment"
          placeholder="Type text"
        ></textarea>
      </div>

      <button type="submit" class="btn modal-btn">
        Buy now
        <svg class="modal-btn-icon" width="7" height="10">
          <use href="./images/common/icons.svg#vector-white"></use>
        </svg>
      </button>
    </form>
  </div>
</div>

<!-- Модальное окно Header ("Круглая кнопка) -->

<div class="backdrop is-hidden" data-modal-video>
  <div class="modal modal-video">
    <button type="button" class="close-modal-btn" data-modal-close-video>
      <svg class="close-modal-icon" width="25" height="25">
        <use href="./images/common/icons.svg#close"></use>
      </svg>
    </button>
    <p class="modal-title modal-title-video">The History of Ice Cream</p>
    <iframe
      class="modal-video-size"
      width="380"
      height="315"
      src="https://www.youtube.com/embed/53noEBeu9gQ?controls=0"
    >
    </iframe>
  </div>
</div>

<!-- Модальное окно Contacts ("Our Locations") -->

<div class="backdrop is-hidden" data-modal-locations>
  <div class="modal">
    <button type="button" class="close-modal-btn" data-modal-locations-close>
      <svg class="close-modal-icon" width="20" height="20">
        <use href="./images/common/icons.svg#close"></use>
      </svg>
    </button>
    <p class="modal-title">Our Locations</p>
    <div id="googlemap"></div>
  </div>
</div>

<!-- Модальное окно Contacts ("Franchise") -->

<div class="backdrop is-hidden" data-modal-franchise>
  <div class="modal">
    <button type="button" class="close-modal-btn" data-modal-franchise-close>
      <svg class="close-modal-icon" width="20" height="20">
        <use href="./images/common/icons.svg#close"></use>
      </svg>
    </button>
    <p class="modal-title">Join and earn with us</p>
    <form action="#" class="modal-form">
      <div class="modal-field">
        <label for="user-name" class="input-label">Name</label>
        <span class="input-wrapper">
          <input type="text" name="user-name" id="user-name" class="modal-input" />
          <svg class="input-icon" width="18" height="18">
            <use href="./images/common/icons.svg#name"></use>
          </svg>
        </span>
      </div>

      <div class="modal-field">
        <label for="user-tel" class="input-label">Phone number</label>
        <span class="input-wrapper">
          <input type="tel" name="user-tel" id="user-tel" class="modal-input" />
          <svg class="input-icon" width="18" height="18">
            <use href="./images/common/icons.svg#tel"></use>
          </svg>
        </span>
      </div>

      <div class="modal-field">
        <label for="user-email" class="input-label">Email</label>
        <span class="input-wrapper">
          <input type="email" name="user-email" id="user-email" class="modal-input" />
          <svg class="input-icon" width="18" height="18">
            <use href="./images/common/icons.svg#email"></use>
          </svg>
        </span>
      </div>

      <div class="modal-field">
        <label for="user-comment" class="input-label">Сomment</label>
        <textarea
          name="user-comment"
          id="user-comment"
          class="modal-comment"
          placeholder="Type text"
        ></textarea>
      </div>

      <input type="checkbox" id="modal-checkbox" class="modal-checkbox hidden" />
      <label for="modal-checkbox" class="check-text">
        <span class="check-text-icon">
          <svg class="check-icon" width="11" height="8">
            <use href="./images/common/icons.svg#check"></use>
          </svg>
        </span>
        <span
          >I agree to the newsletter&#160;<a href="" class="check-color-href">Franchise</a></span
        >
      </label>
      <button type="submit" class="btn modal-btn">
        Join now
        <svg class="modal-btn-icon" width="7" height="10">
          <use href="./images/common/icons.svg#vector-white"></use>
        </svg>
      </button>
    </form>
  </div>
</div>

<!-- Модальное окно Products ("Ice cream") -->

<div class="backdrop is-hidden" data-modal-products-1>
  <div class="modal modal-pink">
    <button type="button" class="close-modal-btn" data-modal-close-products-1>
      <svg class="close-modal-icon" width="25" height="25">
        <use href="./images/common/icons.svg#close"></use>
      </svg>
    </button>
    <p class="modal-title modal-title-pink">Ice cream</p>
    <p class="modal-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus accusantium alias at
      commodi consequatur corporis delectus dolore enim eum expedita fuga fugiat harum hic id
      inventore iste laboriosam laborum libero nulla officiis possimus quia quis quod, ratione
      recusandae repellendus, rerum sit soluta tempore temporibus vel, velit voluptas. Accusantium,
      similique.
    </p>
  </div>
</div>

<!-- Модальное окно Products ("Ice coffee") -->

<div class="backdrop is-hidden" data-modal-products-2>
  <div class="modal modal-yellow">
    <button type="button" class="close-modal-btn" data-modal-close-products-2>
      <svg class="close-modal-icon" width="25" height="25">
        <use href="./images/common/icons.svg#close"></use>
      </svg>
    </button>
    <p class="modal-title modal-title-pink">Ice coffee</p>
    <p class="modal-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet aperiam autem delectus ea
      eaque et fuga harum, inventore itaque magni, quae quia reiciendis suscipit tempore tenetur,
      ullam. Ea eius error ratione reprehenderit voluptatibus. Alias dolore iusto maxime minus,
      natus non optio quaerat, quas, quis soluta vitae voluptate. Consectetur, omnis.
    </p>
  </div>
</div>

<!-- Модальное окно Products ("Milkshakes") -->

<div class="backdrop is-hidden" data-modal-products-3>
  <div class="modal modal-green">
    <button type="button" class="close-modal-btn" data-modal-close-products-3>
      <svg class="close-modal-icon" width="25" height="25">
        <use href="./images/common/icons.svg#close"></use>
      </svg>
    </button>
    <p class="modal-title modal-title-pink">Milkshakes</p>
    <p class="modal-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid animi, architecto
      atque commodi consectetur corporis dolore dolores doloribus error explicabo hic illo impedit
      in inventore ipsum maiores minus molestiae nesciunt odio odit optio pariatur perferendis
      perspiciatis quae qui quibusdam recusandae sapiente sit sunt tempora tempore tenetur totam
      ullam ut.
    </p>
  </div>
</div>

<!-- Модальное окно About ("Read more") -->

<div class="backdrop is-hidden" data-modal-about>
  <div class="modal modal-lightpink">
    <button type="button" class="close-modal-btn" data-modal-close-about>
      <svg class="close-modal-icon" width="25" height="25">
        <use href="./images/common/icons.svg#close"></use>
      </svg>
    </button>
    <p class="modal-title modal-title-pink modal-title-size">Tradition and love</p>
    <ul class="about__text--tablet list">
      <li class="about__item">
        <p class="about__text--properties">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
      </li>
      <li class="about__item about__item--desktop">
        <p class="about__text--size">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
      </li>
      <li class="about__item about__item--desktop">
        <p class="about__text--size">Aliquam erat volutpat. Aenean accumsan.</p>
      </li>
      <li class="about__item about__item--desktop">
        <p class="about__text--size">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti est expedita iusto
          magnam magni minima natus non quo reprehenderit tempore! Animi blanditiis consectetur.
        </p>
      </li>
    </ul>
  </div>
</div>
