<section class="products-section" id="products">
  <div class="products-section__continer container">
    <p class="label products-section__label">100% natural</p>
    <h2 class="title products-section__title">products</h2>
    <ul class="cards-grid">
      <li class="cards-grid__item">
        <article class="product-card product-card--ice-cream" ice-cream-card-activation>
          <h3 class="product-card__title">ice cream</h3>
          <p class="product-card__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button
            class="product-card__button product-card__button--ice-cream"
            type="button"
            aria-label="Detailed product description button"
            ice-cream-btn
            ice-cream-btn-rotate
          ></button>
          <p
            class="product-card__full-information product-card__full-information--ice-cream"
            ice-cream-overlay
          >
            Ice cream - lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat eveniet
            officia eaque, beatae, expedita qui obcaecati labore, sint veniam accusamus suscipit
            non. Amet illum.
          </p>
        </article>
      </li>

      <li class="cards-grid__item">
        <article class="product-card product-card--ice-coffe" ice-coffe-card-activation>
          <h3 class="product-card__title">ice coffee</h3>
          <p class="product-card__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button
            class="product-card__button product-card__button--ice-coffe"
            type="button"
            aria-label="Detailed product description button"
            ice-coffe-btn
            ice-coffe-btn-rotate
          ></button>
          <p
            class="product-card__full-information product-card__full-information--ice-coffe"
            ice-coffe-overlay
          >
            Ice coffe - lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat eveniet
            officia eaque, beatae, expedita qui obcaecati labore, sint veniam accusamus suscipit
            non. Amet illum.
          </p>
        </article>
      </li>

      <li class="cards-grid__item">
        <article class="product-card product-card--milkshake" milkshake-card-activation>
          <h3 class="product-card__title">milkshakes</h3>
          <p class="product-card__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button
            class="product-card__button product-card__button--milkshake"
            type="button"
            aria-label="Detailed product description button"
            milkshake-btn
            milkshake-btn-rotate
          ></button>
          <p
            class="product-card__full-information product-card__full-information--milkshake"
            milkshake-overlay
          >
            Milkshake - lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat eveniet
            officia eaque, beatae, expedita qui obcaecati labore, sint veniam accusamus suscipit
            non. Amet illum.
          </p>
        </article>
      </li>
    </ul>
  </div>
</section>