<section class="products-section" id="products-anchor">
  <div class="products-section__continer container">
    <p class="label products-section__label">100% natural</p>
    <h2 class="title products-section__title">products</h2>
    <ul class="cards-grid list">
      <li class="cards-grid__item">
        <article class="product-card product-card--ice-cream" ice-cream-card-activation>
          <h3 class="product-card__title">ice cream</h3>
          <div class="product-card__dot"></div>
          <p class="product-card__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button
            class="product-card__button product-card__button--ice-cream"
            type="button"
          ></button>
        </article>
      </li>

      <li class="cards-grid__item">
        <article class="product-card product-card--ice-coffe" ice-coffe-card-activation>
          <h3 class="product-card__title">ice coffee</h3>
          <p class="product-card__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button
            class="product-card__button product-card__button--ice-coffe"
            type="button"
          ></button>
        </article>
      </li>

      <li class="cards-grid__item">
        <article class="product-card product-card--milkshake" milkshake-card-activation>
          <h3 class="product-card__title">milkshakes</h3>
          <p class="product-card__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button
            class="product-card__button product-card__button--milkshake"
            type="button"
          ></button>
        </article>
      </li>
    </ul>
  </div>
</section>