
  <footer class="page-footer">
    <div class="container">
        <div class="page-footer__item">
          <p>homemade ice cream made</p>
          <p>with passion</p>
        </div>
        <div class="page-footer__item">
          <ul class="page-footer__icon-list list">
            <li class="page-footer__icon-list-item">
              <a class="page-footer__icon-link  link" href="./" target="_blank" rel="noreferrer noopener">
                <svg class="page-footer__icon " width=34px height=34px >
                  <use href="./images/common/icons.svg#github"> 
                  </use>
                </svg>
              </a>
            </li>
            <li class="page-footer__icon-list-item">
              <a class="page-footer__icon-link  link" href="./" target="_blank" rel="noreferrer noopener">
                <svg class="page-footer__icon" width=34px height=34px>
                  <use href="./images/common/icons.svg#telegram">
                  </use>
                </svg>
              </a>
            </li>
            <li class="page-footer__icon-list-item">
              <a class="page-footer__icon-link  link" href="./" target="_blank" rel="noreferrer noopener">
                <svg class="page-footer__icon" width=34px height=34px>
                  <use href="./images/common/icons.svg#facebook">
                  </use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="page-footer__item">
          <span class="page-footer__address-text">Feel free to contact</span>
          <address class="page-footer__address">
            <a class="page-footer__address-link link" href="tel:+610383766284"> +61 (0) 383 766 284</a>
          </address>
        </div>
        <div class="page-footer__item">
          <p class="page-footer__trademark">&#169; 2019 - IceCream. All Rights Reserved.</p>
        </div>
    </div>
  </footer>
