
<header class="page-header">
  <div class="container">
    <nav class="page-header__nav">
      <a href="./index.html" class="logo"><span></span></a>
      <ul class="page-header__nav-list list">
        <li class="page-header__nav-item"><a href="./index.html" class="link current header__nav-link">Home</a></li>
        <li class="page-header__nav-item"><a href="" class="link header__nav-link">About us</a></li>
        <li class="page-header__nav-item"><a href="" class="link header__nav-link">How it’s made?</a></li>
        <li class="page-header__nav-item"><a href="" class="link header__nav-link">Our products</a></li>
        <li class="page-header__nav-item"><a href="#contacts" class="link header__nav-link">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

