<footer class="page-footer">
  <div class="container">
    <div class="page-footer__item">
      <p>homemade ice cream made</p>
      <p>with passion</p>
    </div>
    <div class="page-footer__item">
      <ul class="page-footer__icons list">
        <li class="page-footer__icons-item">
          <a class="page-footer__icon-link link" href="https://github.com/" target="_blank" rel="noreferrer noopener">
            <svg class="page-footer__icon" width=20px height=20px>
              <use href="./images/common/icons.svg#github">
              </use>
            </svg>
          </a>
        </li>
        <li class="page-footer__icons-item">
          <a class="page-footer__icon-link link" href="https://web.telegram.org/" target="_blank"
            rel="noreferrer noopener">
            <svg class="page-footer__icon" width=20px height=16px>
              <use href="./images/common/icons.svg#telegram">
              </use>
            </svg>
          </a>
        </li>
        <li class="page-footer__icons-item">
          <a class="page-footer__icon-link link" href="https://www.facebook.com/" target="_blank"
            rel="noreferrer noopener">
            <svg class="page-footer__icon" width=9px height=20px>
              <use href="./images/common/icons.svg#facebook">
              </use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="page-footer__item">
      <p class="page-footer__address-text">Feel free to contact<a class="page-footer__address-link link"
          href="tel:+610383766284"> +61 (0) 383 766 284</a></p>
    </div>
    <div class="page-footer__item">
      <p class="page-footer__copyright">&#169; 2019 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</footer>

