<header class="page-header" id="header-anchor">
  <div class="container">
    <div class="page-header__wrapper">
      <nav class="page-header__navigation">
        <a href="./index.html">
          <picture>
            <source
              srcset="/images/common/logo.png 1x, /images/common/logo-2x.png 2x"
              type="image/png"
              media="(min-width: 280px)"
            />
            <img class="page-header__img" src="/images/common/logo.png" alt="Логотип Icecream" />
          </picture>
        </a>
        <div class="page-header__menu">
          <ul class="page-header__menu-list list">
            <li class="page-header__menu-item">
              <a href="#header-anchor" class="link page-header__menu-link">Home</a>
            </li>
            <li class="page-header__menu-item">
              <a href="#about-anchor" class="link page-header__menu-link">About us</a>
            </li>
            <li class="page-header__menu-item">
              <a href="#how-anchor" class="link page-header__menu-link">How it's made?</a>
            </li>
            <li class="page-header__menu-item">
              <a href="#products-anchor" class="link page-header__menu-link">Our products</a>
            </li>
            <li class="page-header__menu-item">
              <a href="#contact-anchor" class="link page-header__menu-link">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="page-header__wrapper">
        <button type="button" class="menu-btn menu-btn--open js-open-menu" aria-expanded="false">
          <img
            class="menu-icon"
            src="/images/common/menu.svg"
            width="20"
            height="12"
            alt="Открывает мобильное меню"
          />
        </button>
        <button data-modal-open-menu class="page-header__tablet-button" type="button">
          Buy now
          <svg class="vector" width="5.26" height="8">
            <use href="/images/common/icons.svg#vector"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="mobile-menu js-menu-container" id="mobile-menu">
    <button data-modal-open class="page-header__mobile-button" type="button">
      Buy now
      <svg class="vector" width="5.26" height="8">
        <use href="/images/common/icons.svg#vector"></use>
      </svg>
    </button>
    <ul class="mobile-menu__list list">
      <li class="mobile-menu__item">
        <a href="#header-anchor" class="mobile-menu__link link">Home</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#about-anchor" class="mobile-menu__link link">About us</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#how-anchor" class="mobile-menu__link link">How it's made?</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#products-anchor" class="mobile-menu__link link">Our products</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#contact-anchor" class="mobile-menu__link link">Contact</a>
      </li>
    </ul>
    <button type="button" class="menu-btn menu-btn--close js-close-menu" aria-expanded="true">
      <img
        class="menu-icon"
        src="/images/common/close.svg"
        width="20"
        height="20"
        alt="Закрыввает мобильное меню"
      />
    </button>
  </div>
  <button id="upbutton" class="up__button"></button>
</header>
