// Кнопки отдавать людям в их блоки в 2 этапа: сначала без модального окна, потом с ним
// Кнопкам не надо прописывать положение на странице, это потом люди в своих блоках сделают. Тут только дизайн

// Тут прописать код для кнопок в Header (1 кнопка)

// Тут прописать код для кнопок в Hero (3 кнопки)

// Тут прописать код для кнопок в Products (Там эти кнопки скачиваются картинками из макета, так что ее просто надо будет вставить в кнопку как background-image)

// Тут прописать код для кнопок в About (1 кнопка)

// Тут прописать код для кнопок в Contacts (2 кнопки)
// Кнопки отдавать людям в их блоки в 2 этапа: сначала без модального окна, потом с ним
// Кнопкам не надо прописывать положение на странице, это потом люди в своих блоках сделают. Тут только дизайн

.btn {
  border: none;
  cursor: pointer;
}

// Тут прописать код для кнопок в Header (1 кнопка)

.header__btn {
  min-width: 159px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.31;

  padding: 0 37px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;

  color: $accent-color;
  background-color: $white-color;
  border-radius: 22px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $button-hover-color;
  }
}

.header__btn-icon {
  margin-left: 12px;
}

// Тут прописать код для кнопок в Hero (3 кнопки)

.hero-btn {
  position: relative; //z index працює тільки з позішин релатів

  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.3;

  padding: 7px 14px;
  border-radius: 20px;
  z-index: 3;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn3 {
  color: $white-color;
  background-color: $accent-color;
}
.hero-btn3:hover,
.hero-btn3:focus {
  background-color: #c7133e;
}

.hero-btn2 {
  margin-left: 8px;
  color: $accent-color;
  background-color: $white-color;
}
.hero-btn2:hover,
.hero-btn2:focus {
  background-color: $button-hover-color;
}

.page-header__tablet-button {
  display: none;
  &:hover,
  &:focus {
    background-color: $button-hover-color;
  }
  @media screen and (min-width: $tablet) {
    display: block;
    width: 160px;
    height: 44px;
    border-radius: 22px;
    cursor: pointer;
    padding: 12px 0;
    background: $white-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    align-items: center;
    justify-content: center;
    color: $accent-color;
    transition: background-color 0.3s ease-out;
  }
}

.page-header__mobile-button {
  display: flex;
  text-align: center;
  margin: auto;
  width: 209px;
  height: 44px;
  left: 34px;
  outline: none;
  background: $white-color;
  border-radius: 22px;
  margin-bottom: 19px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;
  align-items: center;
  color: $accent-color;
  margin-top: 38px;
  padding: 12px 0;
  justify-content: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and(min-width: $tablet) {
    width: 186px;
  }
}
.page-header__mobile-button:hover,
.page-header__mobile-button:focus {
  /*border: 1px solid $accent-color;*/
  background-color: transparent;
  text-shadow: 1px 1px 2px #ecebeb;
  /*box-shadow: 0 0 10px rgb(212 20 67 / 50%);*/
  background: #ecebeb;
}

//<!-------Круглые кнопки ------->

.hero__round-button,
.products__round-button {
  background-color: transparent;
  background-image: url(../images/common/arrow-right.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 0px 2px 3px $accent-color-secondary;
  }
}

.hero__round-button {
  @media screen and (max-width: $tablet) {
    display: none;
  }
}

.hero__round-button-size {
  width: 18px;
  height: 18px;
  @media screen and (min-width: $desktop) {
    width: 26px;
    height: 26px;
  }
}

.hero__round-button-position {
  margin-left: 120px;
  // margin-top: 7px;
  @media screen and (min-width: $desktop) {
    margin-left: 180px;
    margin-bottom: 34px;
  }
}
.hero__round-button {
  @media screen and (max-width: $tablet) {
    display: none;
  }
}
// Тут прописать код для кнопок в Products (Там эти кнопки скачиваются картинками из макета, так что ее просто надо будет вставить в кнопку как background-image)

.products__round-button-size {
  width: 40px;
  height: 40px;
}

// Тут прописать код для кнопок в Products (Там эти кнопки скачиваются картинками из макета, так что ее просто надо будет вставить в кнопку как background-image)

// Тут прописать код для кнопок в About (1 кнопка)

.about-button {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 176px;
  height: 44px;
  padding: 12px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  color: $accent-color;
  background-color: #ffffff;
  border-radius: 22px;
  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: calc(21 / 16);
  }
  &:hover,
  &:focus {
    background-color: $button-hover-color;
  }
}
.about-button__icon {
  margin-left: 14px;
}

// Тут прописать код для кнопок в Contacts (2 кнопки)

.contacts__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: $tablet) {
    flex-direction: row;
    justify-content: center;
  }
}

.contacts__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  border-radius: 22px;

  display: flex;
  align-items: center;
  text-align: center;

  &:first-child {
    margin-bottom: 10px;
  }

  @media screen and (min-width: $tablet) {
    &:first-child {
      margin-bottom: 0;
      margin-right: 15px;
    }
  }
}

.contacts__btn-locations {
  color: $white-color;
  fill: $white-color;
  background-color: $accent-color;
  padding: 12px 17px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #c7133e;
  }

  @media screen and (min-width: $tablet) {
    padding: 12px 30px;
  }

  @media screen and (min-width: $desktop) {
    padding: 12px 36px;
  }
}

.contacts__btn-franchise {
  color: $accent-color;
  background-color: $white-color;
  padding: 12px 33px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $button-hover-color;
  }

  @media screen and (min-width: $tablet) {
    padding: 12px 38px;
  }

  @media screen and (min-width: $desktop) {
    padding: 12px 40px;
  }
}

.modal-btn-icon {
  margin-left: 12px;
}
