// Кнопки отдавать людям в их блоки в 2 этапа: сначала без модального окна, потом с ним
// Кнопкам не надо прописывать положение на странице, это потом люди в своих блоках сделают. Тут только дизайн

// Тут прописать код для кнопок в Header (1 кнопка)

// Тут прописать код для кнопок в Hero (3 кнопки)
.hero-btn {
  position: relative; //z index працює тільки з позішин релатів
  border: none;
  cursor: pointer;

  font-size: 8px;
  line-height: 1.3;

  padding: 7px 14px;
  border-radius: 20px;
  z-index: 3;
}

.hero-btn3 {
  color: $white-color;
  background-color: $accent-color;
}
.hero-btn3:hover,
.hero-btn3:focus {
  background-color: #c7133e;
}

.hero-btn2 {
  margin-left: 8px;
  color: $accent-color;
  background-color: $white-color;
}
.hero-btn2:hover,
.hero-btn2:focus {
  background-color: $button-hover-color;
}

// Тут прописать код для кнопок в Products (Там эти кнопки скачиваются картинками из макета, так что ее просто надо будет вставить в кнопку как background-image)

// Тут прописать код для кнопок в About (1 кнопка)

// Тут прописать код для кнопок в Contacts (2 кнопки)
