.mobile-menu {
  position: fixed;
  top: 0;
  transform: translateX(100%);
  width: 100vw;
  height: 100vh;
  padding: 32px 24px;
  display: flex;
  background-color: $mobile-menu-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  flex-direction: column;
  z-index: 999;
  text-align: start;
  transition: transform 250ms ease-in-out;
  @media screen and (min-width: 768px) {
    right: 0;
    width: 380px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.menu-btn {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  display: flex;
  cursor: pointer;
  color: $mobile-menu-color;

  &--open {
    position: absolute;
    top: 32px;
    right: 20px;
    @media screen and (min-width: 768px) {
      right: 330px;
    }
    @media screen and (min-width: 1280px) {
      display: none;
    }
  }
  &--close {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
.menu-icon {
  fill: currentColor;
}

.menu-icon:hover,
.menu-icon:focus {
  color: $accent-color;
}

.mobile-menu__item {
  margin-top: 22px;
  border-bottom: 1px solid #e18298;
  padding-bottom: 11px;
  border-width: 100%;
  &:not(:last-child) {
    margin-bottom: 22px;
  }

  .mobile-menu__item:hover,
  .mobile-menu__item:focus {
    color: $accent-color;
  }
}

.mobile-menu__list {
  display: block;
}

.mobile-menu__list {
  border-top: 1px solid #e18298;
}

.mobile-menu__link {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  display: flex;
  outline: none;
  letter-spacing: 0.02em;
  color: $white-color;
}

.mobile-menu__link:hover,
.mobile-menu__link:focus {
  color: $accent-color;
}

.mob-current {
  color: $accent-color;
}

.header-mobile-button {
  display: flex;
  text-align: center;
  margin: auto;
  width: 209px;
  height: 44px;
  left: 34px;

  background: $white-color;
  border-radius: 22px;
  margin-bottom: 19px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;
  align-items: center;
  color: $accent-color;

  margin-top: 38px;
  padding: 0;
  justify-content: center;
  @media screen and(min-width: 768px) {
    width: 186px;
  }
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
