/*------------!* Backdrop *!------------*/

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(212, 20, 67, 0.1);
  overflow-y: scroll;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.backdrop {
  &.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

/*------------!* Modal *!------------*/

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  min-height: 400px;
  background-color: $white-color;
  box-shadow: 0 8px 30px rgba(250, 20, 67, 0.1);
  border-radius: 24px;
  padding: 40px;

  @media screen and (max-width: $desktop) {
    max-width: 450px;
  }
  @media screen and (min-width: $desktop) {
    width: 528px;
    min-height: 581px;
  }
}

.close-modal-btn {
  position: absolute;
  right: 12px;
  top: 12px;

  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  fill: $accent-color-secondary;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $accent-color;
    outline: none;
    box-shadow: 0 0 10px rgba(212, 20, 67, 0.5);
    border-radius: 50%;
  }
}
// Тут прописать код для модалки в Header (с формой обратной связи)

/*------------!* Modal "Buy now" *!------------*/

.modal-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.1;
  text-align: center;
  color: #e17992;
  margin-bottom: 22px;
  @media screen and (min-width: $desktop) {
    line-height: 1.15;
  }
}

.modal-field {
  margin-bottom: 12px;
}

.check-products {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.check-color-pink {
  color: $pink-color;
}

.check-color-yellow {
  color: $yellow-color;
}

.check-color-green {
  color: $green-color;
}

.input-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $accent-color;

  display: block;
  margin-bottom: 4px;
}

.input-wrapper {
  display: block;
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid $accent-color-secondary;
  background-color: transparent;
  border-radius: 50px;
  padding-left: 42px;
  padding-right: 16px;
  //color: $accent-color;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $accent-color;
    outline: none;
  }
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  fill: $accent-color;

  .modal-input:focus + &,
  .modal-input:hover + & {
    fill: $accent-color;
  }
}

.modal-comment {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid $accent-color-secondary;
  background-color: transparent;
  border-radius: 10px;
  //color: $text-black-secondary;
  padding: 12px 16px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $accent-color;
    outline: none;
  }
  &::placeholder {
    font-family: inherit;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(212, 20, 67, 0.5);
  }
}

.check-text {
  font-size: 14px;
  line-height: 1.17;
  margin-bottom: 31px;
  color: #757575;

  display: flex;
  align-items: center;
  justify-content: center;
  .check-text-icon {
    width: 16px;
    height: 15px;
    border: 2px solid $accent-color-secondary;
    border-radius: 2px;
    margin-right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-checkbox:checked + & .check-text-icon {
    background-color: $accent-color;
    border: none;
  }
  .modal-checkbox:hover + & .check-text-icon,
  .modal-checkbox:focus + & .check-text-icon {
    border: 2px solid $accent-color;
  }
  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 30px;
  }
}

.check-color-href {
  color: $accent-color;
}

.modal-btn {
  font-weight: 700;
  height: 44px;
  font-style: normal;
  font-size: 16px;
  line-height: 1.31;
  letter-spacing: 0.06em;
  color: $white-color;
  background-color: $accent-color-secondary;
  border-radius: 22px;

  padding: 0 37px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

//.modal-btn-icon {
//  margin-left: 12px;
//}

/*------------!* Modal "Locations" *!------------*/

#googlemap {
  height: 500px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

// Тут прописать код для модалки в Products (3 штуки с разными текстами)

// Тут прописать код для модалки в About (с подробным описанием "О нас")

// Тут прописать код для модалки в Contacts (одно с картой, и одно с формой обратной связи)
// .backdrop {
//   position: fixed;
//   width: 100vw;
//   height: 100vh;
//   top: 0;
//   left: 0;
//   background-color: rgba(212, 20, 67, 0.1);
//   overflow-y: scroll;

//   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &.is-hidden {
//     opacity: 0;
//     visibility: hidden;
//     pointer-events: none;
//   }
// }

// .backdrop {
//   &.is-hidden .modal {
//     transform: translate(-50%, -50%) scale(1.2);
//   }
// }

//        /*------------!* Modal *!------------*/

// .modal {
//   position: relative;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%) scale(1);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   min-height: 400px;
//   background-color: $white-color;
//   box-shadow: 0 8px 30px rgba(250, 20, 67, 0.1);
//   border-radius: 24px;
//   padding: 40px;

//   @media screen and (max-width: $desktop) {
//     max-width: 450px;
//   }
//   @media screen and (min-width: $desktop) {
//     width: 528px;
//     min-height: 581px;
//   }
// }

// .close-modal-btn {
//   position: absolute;
//   right: 12px;
//   top: 12px;

//   width: 30px;
//   height: 30px;
//   background-color: transparent;
//   border: none;
//   //border-radius: 50%;
//   //border: 1px solid rgba(0, 0, 0, 0.1);
//   cursor: pointer;

//   display: flex;
//   align-items: center;
//   justify-content: center;

//   fill: $accent-color-secondary;
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     fill: $accent-color;
//   }
// }
// // Тут прописать код для модалки в Header (с формой обратной связи)
// /*------------!* Backdrop *!------------*/

// .backdrop {
//   position: fixed;
//   width: 100vw;
//   height: 100vh;
//   top: 0;
//   left: 0;
//   background-color: rgba(212, 20, 67, 0.1);
//   overflow-y: scroll;

//   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
//   visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &.is-hidden {
//     opacity: 0;
//     visibility: hidden;
//     pointer-events: none;
//   }
// }

// .backdrop {
//   &.is-hidden .modal {
//     transform: translate(-50%, -50%) scale(1.2);
//   }
// }

// /*------------!* Modal *!------------*/

// .modal {
//   position: relative;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%) scale(1);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   min-height: 400px;
//   background-color: $white-color;
//   box-shadow: 0 8px 30px rgba(250, 20, 67, 0.1);
//   border-radius: 24px;
//   padding: 40px;

//   @media screen and (max-width: $desktop) {
//     max-width: 450px;
//   }
//   @media screen and (min-width: $desktop) {
//     width: 528px;
//     min-height: 581px;
//   }
// }

// .close-modal-btn {
//   position: absolute;
//   right: 12px;
//   top: 12px;

//   width: 30px;
//   height: 30px;
//   background-color: transparent;
//   border: none;
//   border-radius: 50%;
//   //border: 1px solid rgba(0, 0, 0, 0.1);
//   cursor: pointer;

//   display: flex;
//   align-items: center;
//   justify-content: center;

//   fill: $accent-color-secondary;
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     fill: $accent-color;
//     outline: none;
//     box-shadow: 0 0 10px rgba(212, 20, 67, 0.5);
//     border-radius: 50%;
//   }
// }
// // Тут прописать код для модалки в Header (с формой обратной связи)

// /*------------!* Modal "Buy now" *!------------*/

// .modal-title {
//   font-weight: 700;
//   font-size: 25px;
//   line-height: 1.1;
//   text-align: center;
//   color: #e17992;
//   margin-bottom: 20px;
//   @media screen and (min-width: $desktop) {
//     line-height: 1.15;
//   }
// }

// .modal-field {
//   margin-bottom: 10px;
// }

// .check-products {
//   font-family: inherit;
//   font-weight: 700;
//   font-size: 20px;
//   line-height: 1.15;
//   letter-spacing: 0.04em;
//   text-transform: uppercase;
// }

// .check-color-pink {
//   color: $pink-color;
// }

// .check-color-yellow {
//   color: $yellow-color;
// }

// .check-color-green {
//   color: $green-color;
// }

// .input-label {
//   font-size: 12px;
//   line-height: 1.17;
//   letter-spacing: 0.01em;
//   color: $accent-color;

//   display: block;
//   margin-bottom: 4px;
// }

// .input-wrapper {
//   display: block;
//   position: relative;
// }

// .modal-input {
//   width: 100%;
//   height: 40px;
//   border: 1px solid $accent-color-secondary;
//   background-color: transparent;
//   border-radius: 50px;
//   padding-left: 42px;
//   padding-right: 16px;

//   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//   fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     border-color: $accent-color;
//     outline: none;
//   }
// }

// .input-icon {
//   position: absolute;
//   left: 15px;
//   top: 50%;
//   transform: translateY(-50%);
//   fill: $accent-color;

//   .modal-input:focus + &,
//   .modal-input:hover + & {
//     fill: $accent-color;
//   }
// }

// .modal-comment {
//   width: 100%;
//   height: 120px;
//   resize: none;
//   border: 1px solid $accent-color-secondary;
//   background-color: transparent;
//   border-radius: 10px;
//   padding: 12px 16px;

//   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     border-color: $accent-color;
//     outline: none;
//   }
//   &::placeholder {
//     font-family: inherit;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.01em;
//     color: rgba(212, 20, 67, 0.5);
//   }
// }

// .check-text {
//   font-size: 12px;
//   line-height: 1.17;
//   margin-bottom: 31px;

//   display: flex;
//   align-items: center;
//   justify-content: center;
//   .check-text-icon {
//     width: 16px;
//     height: 15px;
//     border: 2px solid #212121;
//     border-radius: 2px;
//     margin-right: 8px;

//     display: flex;
//     align-items: center;
//     justify-content: center;

//     transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
//   .modal-checkbox:checked + & .check-text-icon {
//     background-color: $accent-color;
//     border: none;
//   }
//   .modal-checkbox:hover + & .check-text-icon,
//   .modal-checkbox:focus + & .check-text-icon {
//     border: 2px solid $accent-color;
//   }
//   @media screen and (min-width: $desktop) {
//     font-size: 14px;
//     line-height: 1.71;
//     margin-bottom: 30px;
//   }
// }

// .check-color-href {
//   color: $accent-color;
// }

// .modal-btn {
//   font-weight: 700;
//   font-style: normal;
//   font-size: 16px;
//   line-height: 1.31;
//   letter-spacing: 0.06em;
//   color: $white-color;
//   background-color: $accent-color-secondary;
//   border-radius: 22px;

//   padding: 0 37px;
//   margin: 0 auto;
//   display: flex;
//   align-items: center;
//   text-align: center;

//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     background-color: $accent-color;
//   }
// }

// //.modal-btn-icon {
// //  margin-left: 12px;
// //}

// /*------------!* Modal "Locations" *!------------*/

// #googlemap {
//   height: 500px;
//   /* The height is 400 pixels */
//   width: 100%;
//   /* The width is the width of the web page */
// }

//        /*------------!* Modal "Buy now" *!------------*/

// .modal-title {
//   font-weight: 700;
//   font-size: 25px;
//   line-height: 1.1;
//   text-align: center;
//   color: #e17992;
//   margin-bottom: 20px;
//   @media screen and (min-width: $desktop) {
//     line-height: 1.15;
//   }
// }

// .modal-field{
//   margin-bottom: 10px;
// }

// .check-products {
//   font-family: inherit;
//   font-weight: 700;
//   font-size: 20px;
//   line-height: 1.15;
//   letter-spacing: 0.04em;
//   text-transform: uppercase;
// }

// .check-color-pink {
//   color: $pink-color;
// }

//  .check-color-yellow {
//    color: $yellow-color;
//  }

//  .check-color-green {
//    color: $green-color;
//  }

// .input-label {
//   font-size: 12px;
//   line-height: 1.17;
//   letter-spacing: 0.01em;
//   color: $accent-color;

//   display: block;
//   margin-bottom: 4px;
// }

// .input-wrapper {
//   display: block;
//   position: relative;
// }

// .modal-input {
//   width: 100%;
//   height: 40px;
//   border: 1px solid $accent-color-secondary;
//   background-color: transparent;
//   border-radius: 50px;
//   padding-left: 42px;
//   padding-right: 16px;

//   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     border-color: $accent-color;
//   }
// }

// .input-icon {
//   position: absolute;
//   left: 15px;
//   top: 50%;
//   transform: translateY(-50%);
//   fill: $yellow-color;

//   .modal-input:focus + &,
//   .modal-input:hover + & {
//     fill: $accent-color;
//   }
// }

// .modal-comment {
//   width: 100%;
//   height: 120px;
//   resize: none;
//   border: 1px solid $accent-color-secondary;
//   background-color: transparent;
//   border-radius: 10px;
//   padding: 12px 16px;

//   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     border-color: $accent-color;
//   }
//   &::placeholder {
//     font-family: inherit;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.01em;
//     //color: rgba(117, 117, 117, 0.5);
//     color: $yellow-color;
//   }
// }

// .check-text {
//   font-size: 12px;
//   line-height: 1.17;
//   margin-bottom: 31px;

//   display: flex;
//   align-items: center;
//   justify-content: center;
//   .check-text-icon {
//     width: 16px;
//     height: 15px;
//     border: 2px solid #212121;
//     border-radius: 2px;
//     margin-right: 8px;

//     display: flex;
//     align-items: center;
//     justify-content: center;

//     transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
//   .modal-checkbox:checked + & .check-text-icon {
//     background-color: $accent-color;
//     border: none;
//   }
//   .modal-checkbox:hover + & .check-text-icon,
//   .modal-checkbox:focus + & .check-text-icon {
//     border: 2px solid $accent-color;
//   }
//   @media screen and (min-width: $desktop) {
//     font-size: 14px;
//     line-height: 1.71;
//     margin-bottom: 30px;
//   }
// }

// .check-color-href {
//   color: $accent-color;
// }

//  .modal-btn {
//    font-weight: 700;
//    font-style: normal;
//    font-size: 16px;
//    line-height: 1.31;
//    letter-spacing: 0.06em;
//    color: $white-color;
//    background-color: $accent-color-secondary;
//    border-radius: 22px;

//    padding: 0 37px;
//    margin: 0 auto;
//    display: flex;
//    align-items: center;
//    text-align: center;

//    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//    &:hover,
//    &:focus {
//      background-color: $accent-color;
//    }
//  }

//  //.modal-btn-icon {
//  //  margin-left: 12px;
//  //}

//          /*------------!* Modal "Locations" *!------------*/

//  #googlemap {
//    height: 500px;
//    /* The height is 400 pixels */
//    width: 100%;
//    /* The width is the width of the web page */
//  }
